<h1>Users#home</h1>
<p>Find me in app/views/users/home.html.erb</p>

<div><%= current_user.email %></div>

<%= render :partial => 'layouts/gravatar', :locals => { :user => current_user } %>

<div>What’s happening?</div>

<%= link_to "Edit profile", edit_user_registration_path %>

<%= render :template => 'tweets/new' %>

<div id="tweets">
  <%= render 'layouts/tweets' %>
</div>

<% if @page > 0 %>
  <%= render 'layouts/more_tweets' %>
<% end %>

<%= link_to "Who to follow", users_path %>

