<div class="span-12 border">
  <div class="span-2">
    <%= render :partial => 'layouts/gravatar', :locals => { :user => current_user } %>
  </div>
  <div class="span-10 last">
    <div class="big"><%= current_user.email %></div>
    <%= link_to "Edit profile", edit_user_registration_path %>
  </div>
  <div class="span-12">
    <%= render :template => 'tweets/new' %>
  </div>
</div>
<div class="span-12 last">
  <div class="span-8 big">
    <%= link_to "Who to follow", users_path %>
  </div>
</div>






<div id="tweets">
  <%= render 'layouts/tweets' %>
</div>

<% if @page > 0 %>
  <%= render 'layouts/more_tweets' %>
<% end %>


<div id="followers">
  <div class="count">
    <%= pluralize(current_user.followers.count, 'followers') %>
  </div>
  <% current_user.followers.each do |follower| %>
    <%= render :partial => 'layouts/gravatar', :locals => { :user => follower } %>
    <%= link_to follower.email, follower %>
  <% end %>
</div>

<div id="followeds">
  <div class="count">
    <%= pluralize(current_user.following.count, 'followeds') %>
  </div>
  <% current_user.following.each do |followed| %>
    <%= render :partial => 'layouts/gravatar', :locals => { :user => followed } %>
    <%= link_to followed.email, followed %>
  <% end %>
</div>

